//AUTH FORM

$light: #fff;
$light-gray: #8c96a6;
$light-gray-2: #97a1b1;
$dark-gray: #555b69;
$dark: #323644;
$blue: #1d90f5;
$green: #1ddaa1;
$label: #767882;

$danger: #ff5252;



$normal: #AAA67F;
$normal-light: #f1f1f6;

$fighting: #C12239;
$fighting-light: #f1d9d9;

$flying: #A891EC;
$flying-light: #e6e6f0;

$poison: #A43E9E;
$poison-light: #e6d9e6;

$ground: #DEC16B;
$ground-light: #f1e6d9;

$bug: #A7B723;
$bug-light: #edf1d3;

$fire: #F57D31;
$fire-light: #FDE5D6;

$water: #6493EB;
$water-light: #e3ebfb;

$grass: #74CB48;
$grass-light: #e3f5da;

$electric: #F9CF30;
$electric-light: #fef5d6;

$psychic: #FB5584;
$psychic-light: #fedde6;

$ice: #9AD6DF;
$ice-light: #e6f7f9;

$dragon: #7037FF;
$dragon-light: #e6d9e6;

$dark-color: #75574C;
$dark-light: #e2dcd7;

$fairy: #E69EAC;
$fairy-light: #f0e6f0;

$rock: #B69E31;
$rock-light: #F0EFEF;

$ghost: #70559B;
$ghost-light: #e2ddeb;

$steel: #B7B9D0;
$steel-light: #f1f1f6;





