.card {
    width: 90%;
    max-width: 300px;
    background: rgb(33,27,67);
    background: linear-gradient(24deg, rgba(33,27,67,1) 6%, rgba(37,29,81,1) 38%, rgba(30,26,58,1) 67%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 1rem 0;
    margin: 0.5rem;
}

.card-image {
    margin: 0 auto;
    width: 90%;
    height: 200px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.card-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-btns {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.card-type {
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    border-radius: 20px;
    margin-left: 0.3rem;
}

.card-type-image {
    width: 20px;
    height: 20px;
}

.btn {
    padding: 0.5rem 0;
    width: 45%;
    text-align: center;
    border-radius: 30px;
    font-size: 0.8rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition: 0.2s ease-in-out;
    i {
        margin-left: 0.5rem;
    }
}

.btn-primary {
    background-color: $blue;
    color: #fff;

    &:hover {
        background-color: darken($color: $blue, $amount: 6%);
    }
}

.btn-secondary {
    background-color: $green;
    color: #fff;

    &:hover {
        background-color: darken($color: $green, $amount: 6%);
    }
}

.pokemon-name {
    color: $light;
    font-weight: 600;
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pokemon-user {
    font-size: 0.9rem;
    color: $light-gray;
    font-weight: 400;
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pokemon-user-photo {
    width: 100%;
    height: auto;
}

.card-img-container {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.pokemon-types {
    display: flex;
}