.pokemon-form {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
}

.new-pokemon-container{
    h1, h3 {
        text-align: center;
    }
}

.input-ability {
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
}

.ability-btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    max-width: 100px;
}

.abilities {
    margin-top: 1.5rem;
    border-radius: 20px;
    overflow: hidden;
    background-color: $dark;

    .auth-group {
        margin: 0 !important;
        border-radius: 0;
    }
}

.pokemon-abilities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 2rem;
    margin-bottom: 1rem;
}

.ability {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 20px;
    color: $light;
    background-color: $blue;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    position: relative;
    cursor: pointer;
    .remove-ability {
        position: absolute;
        display: none;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 30px;
        color: $danger;
    }

    &:hover {
        .remove-ability {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        //background-color: ;
    }
}


#pokemon-images {
    display:none;
}

.pokemon-images-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

}

.photo-icon {
    margin-left: 0.5rem;
}

.images-btn {
    text-align: center;
    cursor: pointer;
}

.pokemon-photo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
    width: 100%;
    background-color: $dark;
    margin: 0.5rem 0;
    border-bottom: 3px solid $blue;
}

.images-container {
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.btn-delete {
    margin-right: 2rem;
    font-size: 1.5rem;
    color: $danger;
}

.status {
    margin-right: 2rem;
    font-size: 1.5rem;
}

.pokemon-photo {
    max-height: 80px;
    width: 130px;
}